@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*Zerando o CSS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Fundo de tela*/

html {
    width: 100vw;
    height: 100vh;
    font-family: "Lato", sans-serif;
    color: #fff;
}

body {
    background: linear-gradient(rgba(17,17,17,0.8), rgba(20,20,20,1)), url(../img/img/img5.jpg);
    background-position: center center;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0px;
}

/*Menu - Header - Navbar*/

header {
    width: 100%;
    height: 7vh;
    background-color: rgba(22, 22, 22, 0.2);
}

.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;

}

.logo {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;

}

.cabecalho {
    display: flex;
    gap: 10px;
    list-style: none;
}

.cabecalho a {
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    font-size: 1.5rem;
    position: relative;
    transform: 2ms ease-in;
}

.cabecalho a::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: rgb(251, 255, 0);
    transition: all 1.1s ease;
}

.cabecalho a:hover:before {
    width: 100%;
}



/*Conteudo main*/

main {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*Formatação de textos*/

.titulo {
    width: 850px;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.subtitulo {
    margin-bottom: 5rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: rgba(83, 83, 83, 0.8);
}


/*Botões */

.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botoes button {
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
    transition: 1.5s;
    position: relative;
}

.botoes button:hover {
    color: rgb(251, 255, 0);
    border: none;
}

.botoes button::before {
    content: '';
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 60px;
    background-color: rgb(61, 61, 61);
    z-index: -1;
    transition: 1s;
}

.botoes button:hover:before {
    width: 100%;
}


